/application/logs/*
/application/cache/*
/application/config/config.php
/application/config/database.php
/vendor/*
/Collections
/cash-it.biz
/help
/kidzklinika
/mcs-dev
/myclinisoft-orig-copy.zip
/randycrebucas.com
/ssh-key
/ubt-developments
/forum
/ticket
/uploads/*
/arrowchat/includes/config.php
